body {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: lightgreen;
  padding: 10px;
  height: 2em;
  flex-basis: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav.side-nav {
  background-color: #ddd;
  flex-basis: 20%;
  order: 1;
}

aside.ad {
  background-color: steelblue;
  flex-basis: 20%;
  text-align: center;
  order: 3;
}

article {
  min-height: 800px;
  flex-basis: 60%;
  order: 2;
}

article {
  
}

footer {
  background-color: lightgreen;
  height: 2em;
  margin: 0;
  flex-basis: 100%;
}

/* Tablet Size */

@media screen and (max-width: 640px) {
  header {
    order: 1;
  }

  main {
    order: 2;
    flex-basis: 100%;
  }

  nav.side-nav {
    order: 3;
    flex-basis: 100%;
  }

  aside.ad {
    order: 4;
    flex-basis: 100%;
  }

  footer {
    order: 5;
    flex-basis: 100%;
  }

}
